div.plan
  div.gb-info
    div.gift
      svg.vector
    div.frame
      span.title + 240 гб
      span.subtitle в подарок весь год
  div.card2
    div.bg-image
    div.price-button
      span.price 450 ₽ в месяц
      div.button-small
        span.button-content войти
    div.tag-gb-min
      div.tag
        span.text средний tag
      span.title 20 гб, 100 мин
    div.dtm
      div.traffic
        span.text бесконечный трафик
        div.avatar-group
      div.services
        span.text допы
        div.avatars
          div.icon
            svg.ellipse
            div.phone
              svg.vector
    div.info
      svg.vector 