.text
  .text__title
    h1.text__heading часто задаваемые вопросы
    p.text__subtitle предупредим о нежелательных звонках или заблокируем их. включи защиту в сервисе «моя безопасность» в приложении билайн
  
  button.text__button(type="button")
    span.text__button-content текст кнопки
    span.text__button-sale 100 ₽ 